<% content_for :fonts do %>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700%7COpen+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<% end %>

<li class="tms-slide" data-image data-as-bkg-image data-force-fit data-overlay-bkg-color="#933ded" data-overlay-bkg-opacity="0.75">
	<div class="tms-content">
		<div class="tms-content-inner v-align-middle">
			<div class="row">
				<div class="column width-7 pd-20 left center-on-mobile">
					<h5 class="tms-caption text-medium text-uppercase weight-bold color-white mb-0"
						data-animate-in="preset:slideInDownShort;duration:900ms;delay:100ms;"
						data-no-scale
					>Artistica</h5>
					<div class="clear"></div>
					<h1 class="tms-caption title-xlarge text-uppercase lspacing-medium weight-bold color-white mb-10"
						data-animate-in="preset:slideInDownShort;duration:900ms;delay:300ms;"
						data-no-scale
					>Galeria en la nube</h1>
					<div class="clear"></div>
					<p class="tms-caption font-alt-1 text-medium weight-light color-white hide-on-mobile mb-30"
						data-animate-in="preset:slideInDownShort;duration:900ms;delay:500ms;"
						data-no-scale
					>Conoce la obra de diversos artistas locales en México</p>
					<div class="clear"></div>
					<div class="tms-caption"
						data-animate-in="preset:slideInDownShort;duration:900ms;delay:700ms;"
						data-no-scale
					>
						<a href="https://player.vimeo.com/video/148677689?autoplay=1" class="icon-circled small border-white color-white bkg-hover-charcoal color-hover-white lightbox-link" data-lightbox-animation="fade" data-toolbar="zoom"
						>
							<span class="icon-play small no-margins"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img data-src="https://images.unsplash.com/photo-1534351590666-13e3e96b5017?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" data-retina src="https://images.unsplash.com/photo-1534351590666-13e3e96b5017?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""/>
</li>