<!-- Testimonial Section 5 -->
<div class="section-block testimonial-5 testimonials-5-about-1">
	<div id="testimonial-slider-1" class="testimonial-slider tm-slider-container">
		<ul class="tms-slides">	
			<li class="tms-slide" data-image>
				<div class="tms-content-scalable">
					<div class="row">
						<div class="column width-8 offset-2">
							<blockquote class="center large">
								<p>Incredible work! Best creative experience ever; timely, well executed and one hell of the result. Would recommend Nietszche to anyone who is looking to revamp their identity.
									<cite>John K. Riley - Harvest Goods.</cite>
								</p>
							</blockquote>
						</div>
					</div>
				</div>
			</li>
			<li class="tms-slide" data-image>
				<div class="tms-content-scalable">
					<div class="row">
						<div class="column width-8 offset-2">
							<blockquote class="center large">
								<p>A five star agency without doubt. Hire them!
									<cite>John A. Adams - Repetition</cite>
								</p>
							</blockquote>
						</div>
					</div>
				</div>
			</li>
			<li class="tms-slide" data-image>
				<div class="tms-content-scalable">
					<div class="row">
						<div class="column width-8 offset-2">
							<blockquote class="center large">
								<p>Creativity redefined. These guys offer a unique approach to every aspect<br> of design and the result is simply stunning.
									<cite>Jane Lariken - MUD Clothing.</cite>
								</p>
							</blockquote>
						</div>
					</div>
				</div>
			</li>
			<li class="tms-slide" data-image>
				<div class="tms-content-scalable">
					<div class="row">
						<div class="column width-8 offset-2">
							<blockquote class="center large">
								<p>Design, design and redesign is their motto. Sartre won't stop until they have the perfect match between functionality and esthetic.
									<cite>Jack Tromso - Orcha Co.</cite>
								</p>
							</blockquote>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>