<div class="section-block grid-filter-menu right left-on-mobile mt-70">
	<div class="row no-padding">
		<div class="column width-6 left">
			<h3 class="mb-mobile-50"><b>Algunas obras del artista</b></h3>
		</div>
		<div class="column width-6">
			<%= render partial: 'shared/categories_list', locals: { categories: @categories } %>
		</div>
	</div>
</div>
