<!-- Displaying about -->
<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-charcoal color-white">
	<div class="media-column width-6"></div>
	<div class="row">
		<div class="column width-5">
			<div class="hero-content split-hero-content">
				<div class="hero-content-inner left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.5">
					<h3 class="mb-50">Acerca de</h3>
					<p class="lead">La Ciudad de México en el Tiempo es un proyecto orientado a compartir la historia de la capital a través de fotografías, mapas, libros y revistas, con la intención de crear una crónica colectiva donde los visitantes aporten sus vivencias, reflexiones, dudas y comentarios.</p>
				</div>
			</div>
		</div>
	</div>
</section>