<!-- Displaying about -->
<section class="section-block hero-5 hero-5-1 clear-height right show-media-column-on-mobile bkg-charcoal color-white">
	<div class="media-column width-6"></div>
	<div class="row">
		<div class="column width-5">
			<div class="hero-content split-hero-content">
				<div class="hero-content-inner left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.5">
					<h3 class="mb-50">Acerca de</h3>
					<p class="lead"><b>Artistica</b> es un espacio en la nube diseñado para que artistas emergentes cuenten con un espacio en internet donde sus seguidores y conocedores de arte en general puedan seguir su trabajo materializado en sus obras.</p>
				</div>
			</div>
		</div>
	</div>
</section>