<div class="section-block replicable-content padding-bottom no-padding-top">
	<div class="row flex">
		<div class="column width-8 push-2 center">
			<p class="lead">No importa el tipo de creación que estés buscando, tenemos la certeza de que en <b>Artística</b> siempre encontrarás algo nuevo que te sorprenda.</p>
		</div>
	</div>
</div>

<div class="section-block grid-filter-menu right left-on-mobile no-margins no-padding">
  <hr>
	<div class="row no-padding">
		<div class="column width-12 left">
			<h3 class="mb-mobile-50">Obras destacadas</h3>
		</div>
	</div>
  <br/>
</div>

<div class="section-block clearfix no-padding-top">
	<div class="row">
		<div class="column width-12 content-inner blog-regular center">
      <% artworks.each do |artwork| %>
        <%= render partial: 'artworks/blog_style_artwork', locals: { artwork: artwork } %>
      <% end %>
    </div>
  </div>
</div>