<!-- Call to inspiration text (for best picks) -->
<div class="section-block replicable-content no-padding-bottom">
	<div class="row flex">
		<div class="column width-8 push-2 center">
			<p class="lead">En <b>Artística</b> encontrarás un espacio que se renueva semana a semana con las creaciones de artistas independientes locales.</p>
		</div>
	</div>
</div>

<!-- Categories -->
<div class="section-block grid-filter-menu right left-on-mobile no-margins no-padding">
  <hr>
	<div class="row no-padding">
		<div class="column width-6 left">
			<h3 class="mb-mobile-50">Obras recientes</h3>
		</div>
		<div class="column width-6">
			<%= render partial: 'shared/categories_list', locals: { categories: categories } %>
		</div>
	</div>
  <br/>
</div>

<!-- Best picks artwork -->
<div class="section-block grid-container small-margins no-padding-top" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0">
	<div class="row">
		<div class="column width-12">
			<div class="row grid content-grid-3">
        <%= render artworks %>
			</div>
		</div>
		<div class="column width-8 push-2 center mt-70">
			<a class="button medium bkg-theme bkg-hover-charcoal color-white color-hover-white text-uppercase" href="<%= artworks_path %>">Ver todas las obras</a>
		</div>
	</div>
</div>