.div-band {
    height: 20px;
    background-color: rgba(1,1,1,0.03);
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

cite {
    font-size: 17px !important;
}

.padding-top-bottom-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}